doctype html
html(lang="ja")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width initial-scale=1.0 user-scalable=no")
  link(rel="stylesheet", href="css/style.css")
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src="js/script.js")
  title GiveCoin | 小さな感謝をコインで givery社内アプリ
body
  header
    nav#icon
      span.bar
      span.bar
      span.bar
    h1 GivCoin
  #wrapper
    
