doctype html
html(lang="ja")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width initial-scale=1.0 user-scalable=no")
  link(rel="stylesheet", href="css/style.css")
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src="js/script.js")
  title GiveCoin | 小さな感謝をコインで givery社内アプリ
body
  #bg
    img(src="img/bgimg.png", alt="topImg")
  header(style="background-color: #EFBB24;")
    nav#icon
      span.bar
      span.bar
      span.bar
    h1 GivCoin
  aside
    ul
      li
        a(href="mypage.html") MyPage
      li
        a(href="setting.html") Setting
    h3#commiterTitle Commiter
    .commiter
      img(src="img/youli.jpg", alt="youli")
      h4 You Li Nishigai @ You Li
    .commiter
      img(src="img/daoshi.jpg", alt="daoshi")
      h4 Takayuki Oda @ da0shi
    .commiter
      img(src="img/saison.jpg", alt="saison")
      h4 Takuma Nishimura @ saison
  #wrapper
    section#myInfo
      #myIcon
        img(src="img/nitta.jpg", alt="myicon")
      #myNameArea
        h2 新田章太 @ maximum80
        #totalCount
          |累計獲得枚数
          span 100
          |枚
    section#coinInfo
      .userInfoContent
        .title 今週の残りコイン
        .count
          span 3
          |枚
      .userInfoContent
        .title 獲得コイン
        .count
          span 10
          |枚
      .userInfoContent
        .title 今月あげたコイン
        .count
          span 8
          |枚

    section#usersList
      h3 社員一覧
      - for(var i = 0; i < 11; i++) {
      section.users
        article
          a(href="userdetail.html?id=1")
            .userIcon
              img(src="img/nitta.jpg", alt="maximum80")
            .userName 新田章太
        article
          a(href="userdetail.html?id=1")
            .userIcon
              img(src="img/nitta.jpg", alt="maximum80")
            .userName 新田章太
        article
          a(href="userdetail.html?id=1")
            .userIcon
              img(src="img/nitta.jpg", alt="maximum80")
            .userName 新田章太
      -}
footer(style="background-color: #EFBB24;")
  |Copyright &copy; 2014 GivCoin All Rights Reserved.
