doctype html
html(lang="ja")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width initial-scale=1.0 user-scalable=no")
  link(rel="stylesheet", href="css/style.css")
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src="js/footerFixed.js")
  script(src="js/script.js")
  title GiveCoin | 小さな感謝をコインで givery社内アプリ
body
  #bg
    img(src="img/bgimg.png", alt="topImg")
  header(style="background-color: #EFBB24;")
    nav#icon
      span.bar
      span.bar
      span.bar
    h1 GivCoin
  aside
    ul
      li
        a(href="mypage.html") MyPage
      li
        a(href="setting.html") Setting
  #wrapper
    section#myInfo
      #myIcon
        img(src="img/nitta.jpg", alt="myicon")
      #myNameArea
        h2 新田章太 @ maximum80
        #totalCount
          |累計獲得枚数
          span 100
          |枚
    h3#GivCoin {username}さんにGivCoinしますか？
    #isGivCoin
      #give
        form(action="#")
          input(type="submit" name="givcoin" value="Give" style="background-color: #EFBB24;")
      #not No.
footer#footer(style="background-color: #EFBB24;")
  |Copyright &copy; 2014 GivCoin All Rights Reserved.
