@charset "utf-8";
@import "compass/reset";
@import "compass";

// logo font
@import url(http://fonts.googleapis.com/css?family=Sacramento);

$base: #e4e4e4;
$main: #f587c6;
$sub: #6db3ff;
$attention: #f75959;
$white: #ffffff;
$black: #3b3b3b;

$logo: 'Sacramento', cursive;
$font:Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

$coinColors: #f587c6, #EFBB24, #2EA9DF;
$coinColors2: #00896C, #ED784A, #D05A6E;

html,body{
  font-family: $font;
  font-size: 13px;
  color: $white;
}

// extend
%clearfix{
  @include clearfix;
}

// top style
#bg{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  img{
    width: 100%;
  }
}
#indexWrapper{
  width: 100%;
  position: relative;
  top: 50px;
  z-index: 3;
  h1{
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: $white;
  }
  h1#logo{
    font-family: $logo;
  }
  h1#setting{
    margin-top: 30px;
  }
  #topLoginArea{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    #toBox{
      @extend %clearfix;
      #toSignup{
        @include appearance(none);
        @include box-sizing(border-box);
        display: inline-block;
        width: 50%;
        height: 40px;
        line-height: 40px;
        border-bottom: solid 1px $white;
        text-align: center;
        color: $white;
        float: left;
      }
      #toLogin{
        @include appearance(none);
        @include box-sizing(border-box);
        display: inline-block;
        width: 50%;
        height: 40px;
        line-height: 40px;
        border-bottom: solid 1px $white;
        text-align: center;
        color: $white;
        float: right;
      }
      .active{
        background-color: rgba(255, 255, 255, 0.7);
        color: rgba(0, 0, 0, 0.5) !important;
      }
    }
    @mixin topForm(){
      margin-top: 20px;
      input[type="mail"],
      input[type="text"],
      input[type="password"]{
        @include appearance(none);
        @include box-sizing(border-box);
        margin-top: 15px;
        width: 100%;
        height: 30px;
        line-height: 30px;
        border: none;
        border-bottom: solid 1px rgba(255, 255, 255, 0.7);
        background: none;
        @include border-radius(0);
        font-size: 15px;
        color: $white;
      }
      input[type="submit"]{
        @include appearance(none);
        @include box-sizing(border-box);
        margin-top: 40px;
        display: inline-block;
        width: 100%;
        height: 50px;
        border: solid 1px $white;
        @include border-radius(8px);
        background: none;
        color: $white;
        font-size: 20px;
      }
      input[type="radio"]{
        display: none;
      }
      input::-webkit-input-placeholder {
        color: $white;
        opacity: 0.5;
      }
    }
    #signupBox{
      @include topForm;
      .uploadButton {
        @include box-sizing(border-box);
        display:inline-block;
        width:100%;
        height: auto;
        line-height:30px;
        margin-top: 10px;
        padding:10px;
        border: solid 1px $white;
        @include border-radius(8px);
        color:#fff;
        text-align:center;
        cursor:pointer;
        position:relative;
        overflow:hidden;
        &.select{
          background-color: rgba(248, 138, 208, 0.6);
        }
        input[type=file] {
          position:absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
          cursor:pointer;
          opacity:0;
        }
      }
      h3{
        margin-top: 15px;
        color: $white;
      }
      ul{
        @extend %clearfix;
        margin-top: 15px;
        width: 100%;
        text-align: center;
        display: -webkit-box;
        display: -moz-box;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        label{
          // float: left;
          width: 65px;
          height: 65px;
          @include border-radius(50%);
          margin-left: 6%;
          margin-bottom: 10px;
          @for $i from 1 through 3 {
            &:nth-child(#{$i}) li{
              background-color: nth($coinColors, $i);
            }
          }
          li{
            width: 65px;
            height: 65px;
            @include border-radius(50%);
            opacity: 0.3;
            @include transition(all 0.4s)
          }
          input[type="radio"]:checked + li{
            opacity: 1;
          }
        }
        &#colorBox{
          label{
            @for $i from 1 through 3 {
              &:nth-child(#{$i}) li{
                background-color: nth($coinColors2, $i) !important;
              }
            }
          }
        }
      }
    }
    #loginBox{
      @include topForm;
    }
  }
}
#indexFooter{
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin-top: 80px;
  color: $white;
  font-size: 10px;
  text-align: center;
  position: relative;
  z-index: 2;
}

// site style
header{
  @extend %clearfix;
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: $main;
  nav#icon{
    @include box-sizing(border-box);
    float: right;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding-top: 5px;
    margin-right: 10px;
    @include transition(all 0.2s ease-in);
    span{
      display: block;
      margin: 0;
      margin-top: 5px;
      width: 26px;
      height: 3px;
      background-color: $white;
      @include transition( all .4s ease-out );
    }
    &.active{
      @include transform(rotate(-45deg));
      span:nth-child(1){
        @include transform(rotate(0deg) translateY(10.5px));
      }
      span:nth-child(2){
        opacity: 0;
      }
      span:nth-child(3){
        @include transform(rotate(-90deg) translateX(5px));
      }
    }
  }
  h1{
    float: left;
    height: 40px;
    line-height: 40px;
    margin-left: 15px;
    color: $white;
    font-size: 20px;
    font-family: $logo;
  }
}
aside{
  width: 200px;
  height: 100%;
  min-height: 100%;
  background-color: $black;
  position: fixed;
  top: 40px;
  right: -200px;
  z-index: 100;
  @include transition( right .3s ease-out );
  ul{
    width: 100%;
    li{
      width: 100%;
      height: 50px;
      line-height: 50px;
      a{
        display: inline-block;
        text-indent: 1em;
        width: 100%;
        height: 50px;
        line-height: 50px;
        color: $white;
        text-decoration: none;
        border-bottom: solid 1px #aeaeae;
      }
    }
  }
  #commiterTitle{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 15px;
  }
  .commiter{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    img{
      @include border-radius(100%);
      width: 60px;
      height: auto;
    }
    h4{
      margin-top: 5px;
      font-size: 12px;
    }
  }
}
#wrapper{
  width: 96%;
  margin: 0 auto;
  margin-top: 60px;
  position: relative;
  z-index: 2;
}

// mypage style
#myInfo{
  @extend %clearfix;
  width: 100%;
  margin-bottom: 20px;
  #myIcon{
    float: left;
    @include box-sizing(border-box);
    width: 80px;
    height: 80px;
    margin: 5px;
    margin-top: 2px;
    @include border-radius(8px);
    @include box-shadow(0 0 2px $white);
    text-align: center;
    overflow: hidden;
    img{
      width: auto;
      height: auto;
      max-height: 80px;
    }
  }
  #myNameArea{
    float: right;
    margin-top: 10px;
    text-align: right;
    width: 70%;
    word-break: break-all;
    h2{
      font-size: 17px;
      margin-bottom: 20px;
    }
    #totalCount{
      span{
        margin-left: 5px;
        margin-right: 5px;
        font-size: 25px;
        font-family: $logo;
      }
    }
  }
}
#coinInfo{
  @include box-sizing(border-box);
  width: 100%;
  padding: 15px;
  @include border-radius(8px);
  .userInfoContent{
    @extend %clearfix;
    color: $white;
    height: 40px;
    line-height: 40px;
    &+.userInfoContent{
      margin-top: 20px;
    }
    .title{
      float: left;
      font-size: 15px;
    }
    .count{
      float: right;
      display: inline-block;
      span{
        font-size: 28px;
        font-family: $logo;
        margin-right: 10px;
      }
    }
  }
}
#usersList{
  margin-top: 30px;
  h3{
    @include box-sizing(border-box);
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: solid 1px $white;
    text-align: center;
    font-size: 16px;
    color: $white;
    margin-bottom: 20px;
  }
  section.users{
    @extend %clearfix;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    article{
      width: 80px;
      text-align: center;
      a{
        color: $white;
        .userIcon{
          @include box-sizing(border-box);
          width: 80px;
          height: 80px;
          margin: 5px;
          margin-top: 2px;
          margin-left: 0;
          @include border-radius(8px);
          @include box-shadow(0 0 2px $white);
          text-align: center;
          overflow: hidden;
          img{
            width: auto;
            height: auto;
            max-height: 80px;
          }
        }
        .userName{
          display: inline-block;
          margin-top: 5px;
        }
      }
    }
  }
}
h3#GivCoin{
  width: 100%;
  height: 40px;
  font-size: 15px;
  text-align: center;
}
#isGivCoin{
  @extend %clearfix;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  div{
    text-align: center;
  }
  #give{
    width: 150px;
    height: 150px;
    line-height: 150px;
    margin: 0 auto;
    font-size: 30px;
    font-family: $logo;
    @include border-radius(50%);
  }
  #not{
    width: 50% !important;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.5);
  }
}
footer{
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin-top: 30px;
  font-size: 10px;
  text-align: center;
  position: relative;
  z-index: 10;
}
